body{
    background-image: url("Bilder/Himmel.jpg");
	-moz-background-size: cover;
	background-size: cover;
	font-family:"Showcard Gothic";
}


div.SeiteL{
	
	width:320px;
	height:200px;
	background-color:black;
	
}




div.header {
	background-image: url("Bilder/HeaderHintergrund.png") ;
	
	height:80px;
	font-size:20px;
	margin-bottom:30px;
	border-style:gradient;
	border-width:5px;
	border-top-color:grey;
	border-left-color:dark-grey;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;

}

div.test {
	margin-left:20%;
	margin-right:20%;
	position:middle;
	width:60%;
	height:1000px;
	background: #f2f4f7;
	
	
}

div.shareicons {
	
	position: relative;
    display: inline-block;
	margin-left:50px;
	left:400px;
	top:8px;
	
}



div.share {
	
	position:realtive;
	
	
}

div.div-j-meta-links {
	
	position:bottom;
	width:100%;
	height:30px;
	font-size:25px;
	color:#b3c6c4;
	text-decoration:none;
	font-family:"Showcard Gothic";
	min-height: 1px;
	width: 600px;
	padding-right: 55px;
	

	
}


a {
	
	
	color:#b3c6c4;
	text-decoration:none;
	font-size:25px;
	font-family:"Showcard Gothic";
	
	
}



a.Homepage{
	position:relative;
	left: 320px;
	top: 12px;	
	
}

a.News{
	position:relative;
	margin:0px;
	
	text-decoration:none;
	color:#686d6d;
	font-size: 25px;
	

}

a.Gallerie{
	position:relative;
	left: 400px;
	top: px;
	margin-left: 0px;
	color:#b3c6c4;
	text-decoration:none;
	font-size: 25px;
}

a.Informationen{
	position:relative;
	left:400px;
	margin-left: 50px;
	text-decoration:none;
	color:#b3c6c4;
	font-size: 25px;
	
}
	
a:hover {
text-decoration:none;
color:#ff9011;
}	

.dropbtn {
    background-color: transparent;
    color:#b3c6c4;
    font-family:Times;
    font-size: 25px;
    border: none;
    cursor: pointer;
font-family:"Showcard Gothic";
}

.dropdown {
    position: relative;
    display: inline-block;
	margin-left:50px;
	left:400px;
	font-family:"Showcard Gothic";	
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
font-family:"Showcard Gothic";
}

.dropdown-content a {
    color:#b3c6c4;
    font-family:Times;
    font-size: 25px;
    padding: 10px;
    text-decoration: none;
    display: block;
font-family:"Showcard Gothic";
}

.dropdown-content a:hover {
background-color: transparent;
color:#ff9011;
font-family:"Showcard Gothic";
}

.dropdown:hover .dropdown-content {
    display: block;
font-family:"Showcard Gothic";
}

.dropdown:hover .dropbtn {
    background-color: transparent;
	color:#ff9011;
font-family:"Showcard Gothic";
}










.bilder{
	margin-left:30px;
	margin-right:30px;
}
a.map{
	font-size:50px;
	font-family:oblique;
	color: white;
	text-decoration:underline;
	font-family:"Showcard Gothic";
}
a.Schriftl{
	font-size:25px;
	font-family:oblique;
	color: white;
	margin-left:30px;
	font-family:"Showcard Gothic";
}
a.Schriftr{
	font-size:30px;
	font-family:oblique;
	color: white;
	margin-left:180px;
}
div.mapbox1{
	min-height:350px;
	min-width:420px;
	color:white;
	margin-top:30px;
	margin-left:40px;
	border-color:white;
	border-width:5px;
	padding-top:10px;
	padding-left:10px;
	border-style:solid;
	float:left;
}

div.mapbox2{
	min-height:350px;
	min-width:420px;
	color:white;
	margin-top:30px;
	margin-left:40px;
	border-color:white;
	border-width:5px;
	padding-top:10px;
	padding-left:10px;
	border-style:solid;
	float:left;
}

div.mapbox3{
	min-height:350px;
	min-width:420px;
	color:white;
	margin-top:30px;
	margin-left:40px;
	border-color:white;
	border-width:5px;
	padding-top:10px;
	padding-left:10px;
	border-style:solid;
	float:left;
}

div.mapbox4{
	min-height:350px;
	min-width:420px;
	color:white;
	margin-top:30px;
	margin-left:40px;
	border-color:white;
	border-width:5px;
	padding-top:10px;
	padding-left:10px;
	border-style:solid;
	float:left;
}
a.Neuigkeiten{
	font-size:50px;
	font-family:oblique;
	color:white;
	text-decoration:underline;
	font-family:"Showcard Gothic";
}
Showcard Gothic";
}
}
div.Foot{
	min-height: 1px;
	width: 600px;
	margin-left: 20px;
	padding-left: 55px;
	padding-right: 55px;
		
}c";
	
}
