
body.body{
	
	background-image: url("Himmel.jpg");
	-moz-background-size:cover;
	background-size:cover;
	color:white;
	
}

div.header {
	background-image: url("HeaderHintergrund.png") ;
	
	height:80px;
	font-size:20px;
	margin-bottom:30px;
	border-style:gradient;
	border-width:5px;
	border-top-color:grey;
	border-left-color:dark-grey;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;

}

div.test {
	
	width: 700px;
	height:700px;
	
	
}

div.shareicons {
	
	position: relative;
    display: inline-block;
	margin-left:50px;
	left:400px;
	top:8px;
	
}



div.share {
	
	position:realtive;
	
	
}

.j-meta-links {
	
	
	
}


a.Homepage{
	position:relative;
	left: 320px;
	top: 12px;	
	
}

a.News{
	position:relative;
	
	
	text-decoration:none;
	color:#686d6d;
	font-size: 25px;
	

}

a.Gallerie{
	position:relative;
	left: 400px;
	top: px;
	margin-left: 00px;
	color:#b3c6c4;
	text-decoration:none;
	font-size: 25px;
}

a.Informationen{
	position:relative;
	left:400px;
	margin-left: 50px;
	text-decoration:none;
	color:#b3c6c4;
	font-size: 25px;
	
}
	
a:hover {
text-decoration:underline;

}	

.dropbtn {
    background-color: transparent;
    color:#b3c6c4;
    font-family:Times;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
	margin-left:50px;
	left:400px;
	
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:hsla(0,0,0,0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #686d6d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: hsla(0,0,0,0.5)}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: hsla(0,0,0,0.5);
}