.header {
background-image: url("none");
font-size:75px;
color: white;
font-family: "Showcard Gothic";
}

a{
	color: #667FFF;
	font-size:20px;
}

h1{
	color: white;
}
p{
	color: black;
}

