    /* David Weißhardt Generell wurde der Header von mir erstellt ansonsten noch dieses css und "GameShow Homepage.html" */

body.body{
	
	background: url("Bilder/Himmel.jpg")no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	min-height: 100%;
	left: 0;
    right: 0;
    z-index: -10;
	
}

div.header {
	background-image: url("Bilder/HeaderHintergrund.png") ;
	
	height:80px;
	font-size:20px;
	margin-bottom:30px;
	border-style:gradient;
	border-width:5px;
	border-top-color:grey;
	border-left-color:dark-grey;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;

}


div.test {
	margin-left:20%;
	margin-right:20%;
	position:middle;
	width:60%;
	height:1000px;
	background: #f2f4f7;
	
	
}



div.shareicons {
	
	position: relative;
    display: inline-block;
	margin-left:50px;
	left:400px;
	top:8px;
	
}



div.share {
	
	position:realtive;
	
	
}

div.div-j-meta-links {
	
	position:bottom;
	width:100%;
	height:30px;
	background: black;
	font-size:25px;
	color:#b3c6c4;
	text-decoration:none;
	font-family:"Showcard Gothic";
	

	
}


a {
	
	
	color:#b3c6c4;
	text-decoration:none;
	font-size:25px;
	
	
	
}



a.Homepage{
	position:relative;
	left: 320px;
	top: 12px;	
	font-family:"Showcard Gothic";
}

a.News{
	position:relative;
	margin:0px;
	
	text-decoration:none;
	color:#686d6d;
	font-size: 25px;
	font-family:"Showcard Gothic";

}

a.Gallerie{
	position:relative;
	left: 400px;
	top: px;
	margin-left: 0px;
	color:#b3c6c4;
	text-decoration:none;
	font-size: 25px;
	font-family:"Showcard Gothic";
}

a.Informationen{
	position:relative;
	left:400px;
	margin-left: 50px;
	text-decoration:none;
	color:#b3c6c4;
	font-size: 25px;
	font-family:"Showcard Gothic";
}
	
a:hover {
text-decoration:none;
color:#ff9011;
}	

.dropbtn {
    background-color: transparent;
    color:#b3c6c4;
    font-size: 25px;
    border: none;
    cursor: pointer;
	font-family:"Showcard Gothic";
}

.dropdown {
    position: relative;
    display: inline-block;
	margin-left:50px;
	left:400px;
	font-family:"Showcard Gothic";
	
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color:#b3c6c4;
    font-size: 25px;
    padding: 10px;
    text-decoration: none;
    display: block;
	font-family:"Showcard Gothic";
}

.dropdown-content a:hover {
background-color: transparent;
color:#ff9011;
font-family:"Showcard Gothic";
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
	color:#ff9011;
	font-family:"Showcard Gothic";
}





table, tr, th {
	
	
	border-style:solid;
	border-radius:3px;
	
	
}

div.Welcome {
	
	position:center;
	margin-top: 100px;
	margin-bottom:100px;
	margin-right:20%;
	margin-left:20%;
	position:middle;
	width:1152px;
	height:1000px;
	
	
	
}


p.SpielWelcome {
	
	font-size: 100px;
	font-family:"Showcard Gothic";
	color:white;
	
	
}

p.TextWelcome {
	
	font-size: 60px;
	font-family:"Showcard Gothic";
	color:white;
	
}

p.TextStreamer {
	
	font-size: 100px;
	font-family:"Showcard Gothic";
	color:#4e12bc;
	
}

div.Video {
	
	width: 768px;
	height:432px;
	margin-left:192px;
	border-style:gradient;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
		
}

div.TwichKanäle {
	
	position:center;
	margin-top: 100px;
	margin-bottom:100px;
	margin-right:20%;
	margin-left:20%;
	position:middle;
	width:1152px;
	height:700px;
	

	
}

p.TextTeam {
	
	
	margin-left:35px;
	font-size: 20px;
	font-family:"Showcard Gothic";
	color:white;
	float:left;
	clear:left;
	padding-top:15px;
}
p.TextName {
	
	float:left;
	margin-top:35px;
	margin-left:20px;
	font-size: 28px;
	font-family:"Showcard Gothic";
	color:white;
	
}


img.Profilepicture {
	
	margin-left:30px;
	margin-top:30px;
	border-style:gradient;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	float:left;
	
	
}


div.Channel1 {
	
	float:left;
	width:350px;
	height:200px;
	background-image: url("Bilder/Twich Channel BackgroundF.png");
	border-style:gradient;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	
}


div.Channel2 {
		
	float:left;
	width:350px;
	height:200px;
	background-image: url("Bilder/Twich Channel BackgroundF.png");
	margin-left:50px;
	border-style:gradient;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	
}


div.Channel3 {
		
	float:left;
	width:350px;
	height:200px;
	background-image: url("Bilder/Twich Channel BackgroundF.png");
	margin-left:50px;
	border-style:gradient;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	
}


div.Channel4 {
	
	float:left;
	width:350px;
	height:200px;
	background-image: url("Bilder/Twich Channel BackgroundF.png");
	margin-top:50px;
	border-style:gradient;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	
}


div.Channel5 {
		
	float:left;
	width:350px;
	height:200px;
	background-image: url("Bilder/Twich Channel BackgroundF.png");
	margin-left:50px;
	margin-top:50px;
	border-style:gradient;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	
}


div.Channel6 {
		
	float:left;
	width:350px;
	height:200px;
	background-image: url("Bilder/Twich Channel BackgroundF.png");
	margin-left:50px;
	margin-top:50px;
	border-style:gradient;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	
}

div.Channel7 {
	
	float:left;
	width:350px;
	height:200px;
	background-image: url("Bilder/Twich Channel BackgroundF.png");
	margin-top:50px;
	border-style:gradient;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	
}
div.Channel8 {
		
	float:left;
	width:350px;
	height:200px;
	background-image: url("Bilder/Twich Channel BackgroundF.png");
	margin-left:50px;
	margin-top:50px;
	border-style:gradient;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	
}

div.Channel9 {
		
	float:left;
	width:350px;
	height:200px;
	background-image: url("Bilder/Twich Channel BackgroundF.png");
	margin-left:50px;
	margin-top:50px;
	border-style:gradient;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	
}


