
body.Hintergrund{
	
	
	
	
}

div.header {
	background-image: url("HeaderHintergrund.png");
	height:80px;
	font-size:20px;
	margin-bottom:30px;

}

div.navigation{
	background-color:black;

}

a.Homepage{
	position:absolute;
	left: 300px;
	top: 12px;	
}

a.News{
	position:relative;
	left: 300px;
	top: 30px;	
	margin-left: 250px;
	text-decoration:none;
	color:black;
}

a.Gallerie{
	position:relative;
	left: 300px;
	top: 30px;
	margin-left: 50px;
	text-decoration:none;
}

a.Informationen{
	position:relative;
	left: 300px;
	top: 30px;
	margin-left: 50px;
	text-decoration:none;
}
	
	

	
	
	