body.body{
	
	background: url("Bilder/Himmel.jpg")no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	min-height: 100%;
	left: 0;
    right: 0;
    z-index: -10;
	
}

div.header {
	background-image: url("Bilder/HeaderHintergrund.png") ;
	
	height:80px;
	font-size:20px;
	margin-bottom:30px;
	border-style:gradient;
	border-width:5px;
	border-top-color:grey;
	border-left-color:dark-grey;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;

}

div.test {
	margin-left:20%;
	margin-right:20%;
	position:middle;
	width:60%;
	height:1000px;
	background: #f2f4f7;
	
	
}

div.shareicons {
	
	position: relative;
    display: inline-block;
	margin-left:50px;
	left:400px;
	top:8px;
	
}



div.share {
	
	position:realtive;
	
	
}

div.div-j-meta-links {
	
	position:bottom;
	width:100%;
	height:30px;
	background: black;
	font-size:25px;
	color:#b3c6c4;
	text-decoration:none;
	font-family: "Showcard Gothic";
	

	
}


a {
	
	
	color:#b3c6c4;
	text-decoration:none;
	font-size:25px;
	
	
	
}



a.Homepage{
	position:relative;
	left: 320px;
	top: 12px;	
	
}

a.News{
	position:relative;
	margin:0px;
	
	text-decoration:none;
	color:#686d6d;
	font-size: 25px;
	

}

a.Gallerie{
	position:relative;
	left: 400px;
	top: px;
	margin-left: 0px;
	color:#b3c6c4;
	text-decoration:none;
	font-size: 25px;
}

a.Informationen{
	position:relative;
	left:400px;
	margin-left: 50px;
	text-decoration:none;
	color:#b3c6c4;
	font-size: 25px;
	
}
	
a:hover {
text-decoration:none;
color:#ff9011;
}	

.dropbtn {
    background-color: transparent;
    color:#b3c6c4;
    font-family:Times;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
	margin-left:50px;
	left:400px;
	
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color:#b3c6c4;
    font-family:Times;
    font-size: 25px;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
background-color: transparent;
color:#ff9011;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
	color:#ff9011;
}





div.name1{
background-color: #AAAA; 
padding: 40px; 
border: 3px solid #8c8c8c;
position:relative;
width:900px;       
height:280px;        
margin:2em auto;
}

div.nameimpressum{
background-color: #AAAA; 
padding: 40px; 
border: 3px solid #8c8c8c;
position:relative;
width:450px;       
height:200px;        
margin:2em auto;
padding-top: 0px;
}

div.namedatenschutz{
background-color: #AAAA; 
padding: 40px; 
border: 3px solid #8c8c8c;
position:relative;
width:900px;       
height:auto;        
margin:2em auto;
padding-top: 0px;
}

div.namekontakt{
background-color: #AAAA; 
padding: 40px; 
border: 3px solid #8c8c8c;
position:relative;
width:450px;       
height:auto;        
margin:2em auto;
padding-top: 0px;
}

div.newsletter{
font-size:20px;
color: black;	
}

div.email{
font-size:15px;
color: black;
width: center;
}

div.txt{
font-size:15px;
color: black;
}
.lnk{
font-size:15px;
color: ;	
}

div.tetex{
font-size:15px;
color: black;
}

.Schrift{
padding-top: 30px;
padding-bottom: 30px;
}
