body{
    background: url("Himmel.jpg") no-repeat center center fixed;
	-moz-background-size: cover;
background-size: cover;
}

body.Hintergrund{
}

.header {
background-image: url("none");
font-size:75px;
color: white;
}

